{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/userProfile.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

<div class="container px-4 bg-profile">

    <div class="jumbotron">
        <h1 class="p-titre noir"><center>Nous contacter</center></h1>
        <br>

    {{ form(contactForm) }}

    </div>
</div>
{% endblock %}
