<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <script src="https://kit.fontawesome.com/316d042b66.js" crossorigin="anonymous"></script>

        {% block stylesheets %}
            <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>

    <style>
        #question{
            float : left;
        }
        #user{
            float : right;
        }
    </style>

    <body>
        <div class="container-fluid">

            <div class="jumbotron">
                {% block header %}
                    <header>
                        <div class="container overflow-hidden">
                            <div class="row gx-5">
                                <div class="col">
                                    <i class="far fa-question-circle fa-3x" id="question"></i>
                                </div>
                                <div class="col">
                                            {% if app.user %}
                                                <a href="{{ path("user_index") }}"><p class="text-primary"><i class="fas fa-user-circle fa-3x" id="user"> Profil</i></p></a>
                                            {% endif %}

                                    <a href="{{ path("home") }}"><p class="text-primary"><i class="fas fa-user-circle fa-3x" id="user"> Se connecter</i></p></a>
                                </div>
                            </div>
                        </div>
                    </header>
                {% endblock %}

                <br>

                {% block body %}{% endblock %}

                <br>

                {% block footer %}
                    <footer>
                        <center><i class="fas fa-chevron-circle-down fa-3x"></i><center>
                    </footer>
                {% endblock %}
            </div>
        </div>
    </body>


</html>
