<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Jeu de l'eau</title>
    <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="asset/css/style.css">


</head>
<body>
<div class="bg">
    <div class="bg-color">
        <div class="container content">

            <div class="row">
                <div class="blazer clearfix">
                    <div class="col-sm-12">
                        <h1>OCEAN STREAM</h1>
                        <h2>We're coming soon</h2>
                        <h3>Stay tuned for something Amazing</h3>
                        <div class="jumbotron">
                            <div class="container overflow-hidden">
                                <div class="row">
                                    <div class="col">
                                        <div class="p-3 border bg-light">
                                            <fieldset >
                                                <legend>Jeu de l'eau :</legend>
                                                <blockquote class="blockquote text-center">
                                                    <p class="mb-0">Inspiré du Jeu de l'oie, jeu de société plateau,
                                                        nous avons pour but de vous sensibiliser à la faune et la flore de l'océan</p>
                                                    <footer class="blockquote-footer">Jeu de l'eau réalisé par <cite title="Source Title">MIAGE Sorbonne</cite></footer>
                                                </blockquote>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="p-3 border bg-light"><center><a type="button" class="btn btn-primary" href="{{ path('menu') }}">Commencer</a></center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
